* {
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: gold;
    padding: 1.8rem;
}

h2 {
    align-self: baseline;
}

.main {
    background-color: gold;
    --width: 0;
    height: 100vh;
}

.number {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7rem;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.btn {
    width: 100px; 
    height: 50px; 
    background-color: white;
}

